$main: #0dc66f;
$primary-color: #0dc66f;
$secondary-color: #0dc66f;

$gray-button: #dfe9e6;
$blue: #6bb9c2;
$other-blue: #1642e6;
$gray: #f5f5f5;
$button-green: #4169E1;
$gray-text: #2f2f2f;

$gray-border: #e8e5e5;
$cool-blue: #2562ff;
$dark-blue: #312c91;
$grid-gray: #999;
